
/* Container for the calendar itself. Changing these settings may result in the calendar displaying improperly. */
.month {
display:flex;
flex-direction:row;
flex-wrap:wrap;
width:100%;
justify-content:center;
}

/* Each individual box in the calendar. If you change the SIZE of the border or remove it, make sure to change the border size in the .emptybox class as well to keep the calendar aligned. */
.calbox {
border:1px dashed black;
background-color:white;
color:black;
height:100px;
/* Changing the max-width/flex settings may result in the calendar displaying improperly. */
max-width:13%;
flex: 1 0 14%;
}

/* If you have changed the SIZE of the border in .calbox or removed it, make sure to change the border size in the .emptybox class as well to keep the calendar aligned. 
Changing the max-width/flex settings may result in the calendar displaying improperly. */
.emptybox {
height:100px;  
max-width:13%;
flex: 1 0 14%;
border: 1px solid transparent;
}

/* The numerical date in the corner of each box. This class, when rendered, includes the .dayname and .eventinfo as <span> tags than can be further styled.*/
.corner {
margin:0px;
padding-left:5px;
text-align:left;
}

/* Day of the week as displayed on the calendar. */
.dayname {
color: #AAA;
font-size:14px;
}

/* Event text as displayed on the calendar. */
.eventinfo {
font-size:14px;
}

/* ********** Styles below are for displaying icons next to event entries using classes as defined in the array found in events.php. Make sure that this file is encoded in UTF-8 so that emojis and Unicode symbols will display properly. */

.tv::before {
content: "📺 ";
}

.book::before {
content: "📖 ";
}

.bday::before {
content: "🎂 ";
}

.holiday::before {
content: "🎉 ";
}
